@import '../../../../styles/variables';

.link {
  cursor: pointer;
  display: inline-block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 35vw;
  font-size: 4.6875vw;
  color: var(--primary);
  transition: $theme-change-transition;

  @media (min-width: $viewport-width-tablet) {
    width: 21vw;
    font-size: 2.64vw;
  }

  @media (min-width: $viewport-width-desktop) {
    width: 11vw;
    font-size: 1.39vw;
  }
}

.namePart {
  transition: 0.5s;

  &_2 {
    align-self: flex-end;
  }
}

.link_hidden {
  pointer-events: none;

  .namePart {
    opacity: 0;

    &_1 {
      transform: translateX(13%);
    }

    &_2 {
      transform: translateX(-13%);
    }
  }
}
