@import '../../../styles/variables';

.icon {
  width: 7.8125vw;
  height: 7.8125vw;

  @media (min-width: $viewport-width-tablet) {
    width: 3.84vw;
    height: 3.84vw;
  }

  @media (min-width: $viewport-width-desktop) {
    width: 2.22vw;
    height: 2.22vw;
  }
}

.path {
  width: 100%;
  height: 100%;
  transform: scale(0.78125);
  transition: $theme-change-transition;
}
