.page {
  &_enterActive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;

    ~ .wipe {
      transform: translateY(0%);
    }
  }

  &_exit {
    ~ .wipe {
      transform: translateY(-100%);
    }
  }

  &_exitActive {
    ~ .wipe {
      transform: translateY(0%);
      transition: transform 0.5s ease;
    }
  }

  &_enterDone {
    ~ .wipe {
      transform: translateY(100%);
      transition: transform 0.5s ease;
    }
  }

  
}

.wipe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--grey-2);
  z-index: 1;
  transform: translateY(100%);
}
