@keyframes manskiy-district-text-animation-reversed {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(25.36%);
  }
}

@keyframes skt-manskiy-district-text-animation-reversed {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(25.36%);
  }
}

@keyframes timingweb-text-animation-reversed {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(25%);
  }
}

@keyframes ray-text-animation-reversed {
  from {
    transform: translateX(-25.52%);
  }
  to {
    transform: translateX(25%);
  }
}

@keyframes daigo-text-animation-reversed {
  from {
    transform: translateX(-25.58%);
  }
  to {
    transform: translateX(25%);
  }
}

@keyframes apexy-text-animation-reversed {
  from {
    transform: translateX(-25.29%);
  }
  to {
    transform: translateX(25%);
  }
}

.timingweb {
  animation: timingweb-text-animation-reversed 23s linear infinite reverse;
}

.manskiyDistrict {
  animation: manskiy-district-text-animation-reversed 26s linear infinite
    reverse;
}

.zamanje {
  animation: manskiy-district-text-animation-reversed 20s linear infinite
    reverse;
}

.sktManskiyDistrict {
  animation: skt-manskiy-district-text-animation-reversed 36s linear infinite
    reverse;
}

.ray {
  animation: ray-text-animation-reversed 17s linear infinite reverse;
}

.daigo {
  animation: daigo-text-animation-reversed 17s linear infinite reverse;
}

.apexy {
  animation: apexy-text-animation-reversed 17s linear infinite reverse;
}
