@import './variables';

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
  background: var(--bg-primary);
  color: var(--primary);
  transition: $theme-change-transition;

  @media (min-width: $viewport-width-desktop) {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

::selection {
  background: var(--primary);
  color: var(--bg-primary);
}
