$red: #ff2727;

$rotate-angle: 14deg;
$skew-angle: -14deg;

$decor-width-mobile: 0.9375vw;
$decor-width-tablet: 0.48vw;
$decor-width-desktop: 0.38vw;

$decor-small-width-mobile: 0.3125vw;
$decor-small-width-tablet: 0.24vw;
$decor-small-width-desktop: 0.139vw;

$viewport-width-tablet: 480px;
$viewport-width-desktop: 1140px;

$theme-change-transition: 0.5s;

$external-padding-desktop: 6.25vw;
