$red: #ff2727;

$rotate-angle: 14deg;
$skew-angle: -14deg;

$decor-width-mobile: 0.9375vw;
$decor-width-tablet: 0.48vw;
$decor-width-desktop: 0.38vw;

$viewport-width-tablet: 480px;
$viewport-width-desktop: 1140px;
