@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.wrapper {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.themeCheckbox {
  position: absolute;
  bottom: 7.8125vw;
  right: 7.8125vw;

  @media (min-width: $viewport-width-tablet) {
    bottom: 7.2vw;
    right: 6.24vw;
  }

  @media (min-width: $viewport-width-desktop) {
    bottom: 3.2vw;
    right: $external-padding-desktop;
  }
}

.mainInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollDownMessage {
  position: absolute;
  bottom: 7.8125vw;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  white-space: pre;

  @include secondary-font-preset;

  @media (min-width: $viewport-width-tablet) {
    bottom: 7.2vw;
    display: block;
    font-size: 3vw;
  }

  @media (min-width: $viewport-width-desktop) {
    bottom: 3.2vw;
    font-size: 1.53vw;
  }
}

.title {
  font-size: 11.5625vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $viewport-width-tablet) {
    font-size: 7.43vw;
  }

  @media (min-width: $viewport-width-desktop) {
    font-size: 4.31vw;
  }
}

.secondary {
  @include secondary-font-preset;
  font-size: 5.3125vw;
  white-space: pre;

  &_1 {
    margin-bottom: 5.3125vw;
  }

  &_2 {
    margin-top: 5.3125vw;
  }

  @media (min-width: $viewport-width-tablet) {
    font-size: 3vw;

    &_1 {
      margin-bottom: 6.12vw;
    }

    &_2 {
      margin-top: 6.12vw;
    }
  }

  @media (min-width: $viewport-width-desktop) {
    font-size: 1.53vw;

    &_1 {
      margin-bottom: 2.15vw;
    }

    &_2 {
      margin-top: 2.15vw;
    }
  }
}

.decor {
  background: var(--primary);
  transition: background $theme-change-transition;
  transform: scaleX(0);

  @media (min-width: $viewport-width-tablet) {
    height: $decor-width-tablet;
    width: 15.1%;
  }

  @media (min-width: $viewport-width-desktop) {
    height: $decor-width-desktop;
    width: 30%;
  }

  &_1 {
    transform-origin: right;
  }

  &_2 {
    transform-origin: left;
  }
}

.decorWrapper {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $viewport-width-tablet) {
    display: flex;
    justify-content: space-between;
    width: 87.54vw;
    height: $decor-width-tablet;
  }

  @media (min-width: $viewport-width-desktop) {
    width: 87.5vw;
    height: $decor-width-desktop;
  }
}

.animationSpanElement {
  display: inline-block;
}

.bgText {
  opacity: 0;
}
