@import '../../../../styles/variables';

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  font-size: 9vw;

  @media (min-width: $viewport-width-tablet) {
    font-size: 5vw;
  }

  @media (min-width: $viewport-width-desktop) {
    font-size: 3vw;
  }
}
