@import '../../../styles/variables';

.header {
  position: fixed;
  top: 7.8125vw;
  left: 7.8125vw;
  right: 7.8125vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s, color 0s;
  pointer-events: none;

  &_disabled {
    opacity: 0;
    transform: translateY(-4vw);

    .item {
      pointer-events: none;
    }

    @media (min-width: $viewport-width-desktop) {
      transform: translateY(-1.5vw);
    }
  }

  &_startAnimationIsNotPlayed {
    opacity: 0;
    pointer-events: none;
  }
}

.item {
  pointer-events: all;
}

@media (min-width: $viewport-width-tablet) {
  .header {
    left: 7.2vw;
    right: 7.2vw;
    top: 6.24vw;

    &_disabled {
      transform: translateY(-3vw);
    }
  }
}

@media (min-width: $viewport-width-desktop) {
  .header {
    left: $external-padding-desktop;
    right: $external-padding-desktop;
    top: 3.2vw;

    &_disabled {
      transform: translateY(-1vw);
    }
  }
}
