@import '../../../../../styles/variables';

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate($rotate-angle) translateY(-5vw);

  @media (min-width: $viewport-width-desktop) {
    transform: translate(-50%, -50%) rotate($rotate-angle) translateY(-3vw);
  }
}

.line {
  &1 {
    animation: text-animation-reversed 18s linear infinite reverse;

    @media (min-width: $viewport-width-tablet) {
      animation-duration: 20s;
    }

    @media (min-width: $viewport-width-desktop) {
      animation-duration: 26s;
    }
  }

  &2 {
    animation: text-animation 23s linear infinite reverse;
  }

  &3 {
    animation: text-animation-reversed 33s linear infinite reverse;
  }

  & + & {
    margin-top: 1.625vw;

    @media (min-width: $viewport-width-tablet) {
      margin-top: 3.477vw;
    }

    @media (min-width: $viewport-width-desktop) {
      margin-top: 2vw;
    }
  }
}

@keyframes text-animation {
  from {
    transform: translateX(25.36%);
  }
  to {
    transform: translateX(-25%);
  }
}

@keyframes text-animation-reversed {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(25.36%);
  }
}
