.t {
  width: 0.7em;
  margin-right: -0.09em;
}

.v {
  width: 0.9em;
  margin-right: -0.17em;
}

.e {
  width: 0.7em;
  margin-right: -0.03em;
}

.a {
  padding-left: 0.1em;
  margin-left: -0.1em;
}
